---
import { ExternalLinkIcon } from "@radix-ui/react-icons";

interface Props {
  reference: string;
  title?: string;
}

const { reference, title } = Astro.props

---

<a class='text-sm underline' href={reference}>{title} <ExternalLinkIcon className='inline ml-1' /></a>