{
  "extends": ["eslint:recommended", "prettier", "plugin:mdx/recommended"],
  "plugins": ["@typescript-eslint", "unused-imports", "simple-import-sort"],
  "settings": {
    "mdx/code-blocks": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-shadow": "warn",
    "no-console": "warn",
    "no-var": "error",

    "react-hooks/exhaustive-deps": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "react/no-unknown-property": [
      "error",
      {
        "ignore": ["css"]
      }
    ]
  }
}
