---

import ProjectHoverImages from '../../components/ProjectHoverImages.astro'
import ProjectYearList from '../../components/ProjectYearList.astro'
import Layout from '../../layouts/Layout.astro'
import { ProjectTags } from '../../types/ProjectTags'

export async function getStaticPaths() {
  const tagsArray = Object.values(ProjectTags)

  return tagsArray.map((entry) => ({
    params: { slug: entry },
  }))
}

const { slug } = Astro.params
---

<Layout>
  <section class='pt-3 w-full'>
    <ProjectYearList tags={slug} transition:persist />
    <ProjectHoverImages />
  </section>
</Layout>
