---
import NavigationItem from './NavigationItem'

const options: Intl.DateTimeFormatOptions = {
  hour: '2-digit',
  minute: '2-digit',
  second: '2-digit',
  timeZoneName: 'short',
  day: 'numeric',
  month: '2-digit',
  year: 'numeric',
  hour12: false,
  timeZone: 'Asia/Tokyo',
}
---

<header
  class='fixed left-0 top-0 w-full z-10 bg-[hsl(var(--background))] animate-in duration-300 fade-in fade-out'
>
  <div class={'py-6 w-15 mx-6  md:mx-28 my-0'}>
    <h1 class='fixed left-7'>
      <a href='/' data-astro-prefetch> K / S</a>
    </h1>
    <nav class='flex md:justify-between items-center justify-end'>
      <ul class='list-none m-0 p-0 flex gap-5'>
        <NavigationItem title='About' />
        <li class={'underline-offset-4	hover:underline'}>
          <a href={'/'} data-astro-prefetch class={''}> Projects</a>
        </li>
        {/* <NavigationItem title='Projects' /> */}

        <li class={'underline-offset-4	hover:underline'}>
          <a
            data-astro-prefetch
            href={'https://docs.google.com/document/d/1RqA2MraEd-mTt8dUOvBCjQ2gB9e0jYut/edit?usp=sharing&ouid=100481767147351988160&rtpof=true&sd=true'}
            class={''}
          >
            CV
          </a>
        </li>

        {
          /* <NavigationItem title='Studies' />
          <NavigationItem title='Store' /> */
        }
      </ul>
      <div class='float-right m-0 p-0 hidden md:inline' id='clock'>
        TYO - {new Intl.DateTimeFormat('en-US', options).format(Date.now())}
      </div>
    </nav>
  </div>
</header>

<script>
  // Client-side JavaScript
  const clockElement = document.getElementById('clock') as HTMLDivElement
  const options: Intl.DateTimeFormatOptions = {
    hour: '2-digit',
    minute: '2-digit',
    second: '2-digit',
    timeZoneName: 'shortOffset',
    day: 'numeric',
    month: '2-digit',
    year: 'numeric',
    hour12: false,
    timeZone: 'Asia/Tokyo',
  }
  setInterval(() => {
    const now = new Date()
    const formatter = new Intl.DateTimeFormat('en-US', options)

    clockElement.textContent = 'TYO - ' + formatter.format(now)
  }, 1000)
</script>
