---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation'

import ProjectYearList from '../components/ProjectYearList'
import ProjectSectionWrap from '../components/ProjectSectionWrap'

import { Content as ExhibitionContent } from '../content/about/exhibition.mdx'
import ScrollableTable from '../components/ScrollableTable'
import '../styles/globals.css'
import { Separator } from '../components/ui/separator'
import ExhibitionTable, { columns } from '../components/AboutAccordion/exhibition/ExhibitionTable'
import {
  Accordion,
  AccordionContent,
  AccordionItem,
  AccordionTrigger,
} from '../components/ui/accordion'
import TableWrapper from '../components/TableWrapper'
import exhibitionData from '../content/about/exhibition.json'
import AboutAccordion from '../components/AboutAccordion/AboutAccordion'
---

<Layout>
  <div>
    <div class='flex'>
      <img
        src='https://images.unsplash.com/photo-1698948233567-341329ce43a9?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMHx8fGVufDB8fHx8fA%3D%3D'
      />
      <div class='flex flex-col'>
        <p>
          Reza is the founder and head of product at Hi-Rez, a creative & technical company focused
          on helping clients design & build software that is highly interactive, human centric,
          playful, multi-dimensional and blazing fast. In addition to serving fortune 500 clients,
          Hi-Rez produces open source code and is currently building 3D design tools for iPad.
          Previously, Reza worked for Apple as a contractor in the Product & Design organization and
          at Google as a full-time employee on the Daydream team. For the past decade he has worked
          on next-generation real-time graphics & user interfaces with a focus on real-time
          rendering, computational design, augmented and virtual reality, spatial interfaces, and
          software engineering. His work is inspired by patterns in nature, emergent behavior,
          generative systems, future interfaces and tons of sci-fi movies and books. Reza enjoys
          long runs along the beach, traveling, photography, pottery, woodworking, and digital
          fabrication. Ping him at reza@hi-rez.io for consulting work or commissions. Twitter:
          @rezaali Instagram: syedrezaali Location: Marina Del Rey, Los Angeles, Berkeley, Oakland,
          San Francisco, Palo Alto, Los Angeles, Santa Barbara, New York, Miami
        </p>
      </div>
    </div>
    <Separator />

    <Separator client:only='react' />
    <!-- <ScrollableTable client:only='react' /> -->
    <AboutAccordion client:only='react' />
  </div>
</Layout>
 ../components/AboutAccordion/exhibition/ExhibitionTable
