---
import Layout from '../layouts/Layout.astro'

import '../styles/globals.css'
import { Separator } from '../components/ui/separator'

import AboutAccordion from '../components/AboutAccordion/AboutAccordion'
import { getCollection } from 'astro:content'
import type { AwardTableRow } from '../components/AboutAccordion/AwardTable'
import type { ExhibitionTableRow } from '../components/AboutAccordion/ExhibitionsTable'
import type { MediaTableRow } from '../components/AboutAccordion/MediaTable'
import type { PublicationTableRow } from '../components/AboutAccordion/PublicationsTable'
import type { TalkTableRow } from '../components/AboutAccordion/TalksTable'
import type { TeachingTableRow } from '../components/AboutAccordion/TeachingTable'

const allPosts = await getCollection('projects')
import { Content as AboutContent } from '../content/about/about.mdx'
import ThemeToggle from '../components/ThemeToggle'
import { ModeToggle } from '../components/ModeToggle'
import { Button } from '../components/ui/button'
import { GithubIcon, MailIcon } from 'lucide-react'
import { GitHubLogoIcon, LinkedInLogoIcon, TwitterLogoIcon } from '@radix-ui/react-icons'
import MailButton from '../components/MailButton'
import SocialButtonRow from '../components/SocialButtonRow'
---

<Layout>
  <div>
    <div class='flex space-between pb-8'>
      <img
        class='h-[500px]'
        src='https://images.unsplash.com/photo-1698948233567-341329ce43a9?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMHx8fGVufDB8fHx8fA%3D%3D'
      />
      <div class='flex flex-col'>
        <p><AboutContent /></p>

        <SocialButtonRow client:only='react' />
      </div>
    </div>

    <Separator />
    <!-- <ScrollableTable client:only='react' /> -->
    <AboutAccordion
      client:only='react'
      PublicationData={[
        ...allPosts.flatMap((post) =>
          (post.data.publications as PublicationTableRow[]).map((publication) => ({
            ...publication,
            work: post.data.title,
          })),
        ),
      ]}
      MediaData={[
        ...allPosts.flatMap((post) =>
          (post.data.media as MediaTableRow[]).map((media) => ({
            ...media,
            work: post.data.title,
          })),
        ),
      ]}
      ExhibitionData={allPosts.flatMap((post) =>
        (post.data.exhibitions as ExhibitionTableRow[]).map((exhibition) => ({
          ...exhibition,
          work: post.data.title,
        })),
      )}
      AwardData={allPosts.flatMap((post) =>
        (post.data.awards as AwardTableRow[]).map((award) => ({
          ...award,
          work: post.data.title,
        })),
      )}
      TalkData={allPosts.flatMap((post) =>
        (post.data.talks as TalkTableRow[]).map((talk) => ({
          ...talk,
          work: post.data.title,
        })),
      )}
      TeachingData={[
        {
          workshop_name: 'TA for Data Driven Art Summer School with Yasuaki Kakehi, Daito Manabe',
          place: 'Keio University SFC',
          date: '2017/2018',
        },
        {
          workshop_name: 'TA for Moving Picture with Saito Tatsuya',
          place: 'Keio University SFC',
          date: '2018',
        },
        {
          workshop_name: 'Workshop Name',
          place: '',
          date: '',
        },
        {
          workshop_name: 'Workshop Name',
          place: '',
          date: '',
        },
      ]}
    />
  </div>
</Layout>
