---
import ProjectHoverImages from '../components/project/ProjectHoverImages.astro'
import ProjectYearList from '../components/project/ProjectYearList.astro'
import WorkInProgress from '../components/WorkInProgress'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <WorkInProgress />
  <section class='pt-3 w-full'>
    <!-- <Intro /> -->
    <ProjectYearList transition:persist />
    <ProjectHoverImages client:media="(min-width: 600px)" />
  </section>
</Layout>
