---
import Layout from '../layouts/Layout.astro'

import ProjectHoverImages from '../components/ProjectHoverImages'
import ProjectListItem from '../components/ProjectListItem'
import { getCollection } from 'astro:content'
import { Works } from '../types/works'
import ProjectYearList from '../components/ProjectYearList.astro'
const posts = await getCollection('projects')

// Group posts by year
const postsByYear = posts.reduce<{ [year: string]: typeof posts }>((acc, post) => {
  const year = new Date(post.data.date).getFullYear()
  if (!acc[year]) {
    acc[year] = []
  }
  acc[year].push(post)
  return acc
}, {})

// Sort years in descending order
const sortedYears = Object.keys(postsByYear).sort((a, b) => Number(b) - Number(a))
---

<Layout>
  <section class='pt-3 w-full'>
    <ProjectYearList />
    <ProjectHoverImages client:only='react' />
  </section>
</Layout>

<!-- <Layout>
  <section class='pt-3 w-full'>
    <ProjectYearList year={2023} client:only='react' />
    <ProjectHoverImages client:only='react' />
    <div class={'mb-14 w-100 overflow-hidden'}>
      <span class={'cursor-pointer block float-right text-xs leading-4 tracking-wide '}> 2023</span>
      <ul class={'flex w-11/12 gap-x-20 gap-y-11 flex-wrap md:flex-row flex-col'}>
        {
          posts.map((post) => {
            return (
              <ProjectListItem
                title={post.data.title}
                date={post.data.date}
                tags={post.data.tags}
              />
            )
          })
        }
      </ul>
    </div>
  </section>
</Layout> -->
