---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Navigation from '../components/Navigation'
import { ViewTransitions } from 'astro:transitions'

import ProjectYearList from '../components/ProjectYearList'
import ProjectSectionWrap from '../components/ProjectSectionWrap'
import ProjectHoverImages from '../components/ProjectHoverImages'
import { ModeToggle } from '../components/ModeToggle'
---

<Layout>
  <section class='pt-3 w-full'>
    <!-- TODO we need to break this down so that we dont have to make  -->
    <ProjectYearList year={2023} client:only='react' />
    <ProjectHoverImages client:only='react' />
  </section>
</Layout>
