---
import Intro from '../components/Intro.astro'
import ProjectHoverImages from '../components/project/ProjectHoverImages.astro'
import ProjectYearList from '../components/project/ProjectYearList.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <section class='pt-3 w-full'>
    <Intro />
    <ProjectYearList transition:persist />
    <ProjectHoverImages />
  </section>
</Layout>
