---

import ProjectHoverImages from '../components/ProjectHoverImages.astro'
import ProjectYearList from '../components/ProjectYearList.astro'
import WorkInProgress from '../components/WorkInProgress'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <WorkInProgress />
  <section class='pt-3 w-full'>
    <ProjectYearList transition:persist />
    <ProjectHoverImages />
  </section>
</Layout>
