---
import { Spacer } from "./layout/Spacer";

---

<div class='md:w-8/12 mx-auto text-center'>
  <h2 class='font-serif text-5xl inline'>( Kye Shimizu! )</h2>
  <span class='font-sans text-5xl font-normal'>is a technical artist, INTERFACE DESIGNER, and</span
  ><span class='font-serif text-5xl font-normal inline'> "creative technologist"</span>

  <span
    class='font-sans text-5xl font-normal'>based in JPN🇯🇵.</span
  > 
    <br />
    <Spacer size={4}></Spacer>
  <span class='font-serif text-5xl font-semibold'>(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧.</span>
</div>
