---

---

<div class='w-8/12 mx-auto text-center'>
  <h2 class='font-serif text-5xl inline'>(Kye Shimizu!)</h2>
  <span class='font-sans text-5xl font-bold'>is a technical artist, INTERFACE DESIGNER, and</span
  ><span class='font-serif text-5xl font-semibold inline'> "creative technologist "</span><span
    class='font-sans text-5xl font-semibold'>based in JPN🇯🇵.</span
  >

  <span class='font-serif text-5xl'>(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧.</span>
</div>
