---
import { YouTube } from '@astro-community/astro-embed-youtube'
import { Picture } from 'astro:assets'
import { getCollection } from 'astro:content'

import Layout from '../../layouts/Layout.astro'
import { Card } from '../../components/ui/card'
import { ScrollArea } from '@radix-ui/react-scroll-area'

export async function getStaticPaths() {
  const blogEntries = await getCollection('projects')
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout>
  {
    entry.data.hoverVideo && (
      <video
        src={entry.data.hoverVideo}
        autoplay
        muted
        transition:persist
        transition:name={entry.data.hoverVideo}
      />
    )
  }
  {
    entry.data.hoverImage && (
      <Picture
        formats={['avif', 'webp']}
        src={entry.data.hoverImage}
        transition:persist
        alt='A description of my image.'
        transition:name={entry.data.hoverImage.src}
      />
    )
  }

  <div class='flex justify-center'>
    {entry.data.youtube && <YouTube id={entry.data.youtube!} class={'block w-full'} />}
  </div>

  <!-- <Content /> -->

  <div class='max-w-2xl w-full flex flex-col justify-center items-center mx-auto'>
    <p>
      Morbi venenatis eu lacus quis porttitor. Integer vitae porta leo, tempus volutpat orci.
      Suspendisse sit amet sem consectetur, egestas enim vel, ullamcorper magna. Aenean in est
      tincidunt, facilisis ex eu, semper diam. Aenean magna arcu, bibendum et diam ut, tempor
      pulvinar metus. Cras vitae auctor magna. Donec et venenatis nisl. Sed cursus eu arcu a
      feugiat. Vestibulum gravida eleifend lacus vitae ultricies. Suspendisse enim dolor, placerat
      quis erat sit amet, venenatis varius enim. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Nam laoreet, elit id tristique sodales, risus libero placerat velit, ut blandit sapien
      ipsum id mauris. Vestibulum feugiat lectus sit amet aliquet sollicitudin. Cras venenatis
      maximus dapibus. Morbi venenatis eu lacus quis porttitor. Integer vitae porta leo, tempus
      volutpat orci. Suspendisse sit amet sem consectetur, egestas enim vel, ullamcorper magna.
      Aenean in est tincidunt, facilisis ex eu, semper diam. Aenean magna arcu, bibendum et diam ut,
      tempor pulvinar metus. Cras vitae auctor magna. Donec et venenatis nisl. Sed cursus eu arcu a
      feugiat. Vestibulum gravida eleifend lacus vitae ultricies. Suspendisse enim dolor, placerat
      quis erat sit amet, venenatis varius enim. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Nam laoreet, elit id tristique sodales, risus libero placerat velit, ut blandit sapien
      ipsum id mauris. Vestibulum feugiat lectus sit amet aliquet sollicitudin. Cras venenatis
      maximus dapibus.
    </p>
    <Card className='px-8 py-4 w-full'>
      <h4 class='mb-4 text-sm font-medium leading-none'>Credits</h4>
      <div class='flex flex-col gap-1 whitespace-pre'>
        <p>Kye Shimizu</p>
        <p>Kye Shimizu</p>
        <p>Kye Shimizu</p>
        <p>Kye Shimizu</p>
        <p>Kye Shimizu</p>
      </div>
    </Card>
  </div>
</Layout>
