---
import ProjectHoverImages from '../../components/project/ProjectHoverImages.astro'
import ProjectYearList from '../../components/project/ProjectYearList.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout>
  <section class='pt-3 w-full'>
    <ProjectYearList transition:persist />
    <ProjectHoverImages />
  </section>
</BaseLayout>
