---
// Import the global.css file here so that it is included on
// all pages through the use of the <SEO /> component.

import { ViewTransitions } from 'astro:transitions'
import { SEO } from 'astro-seo'

import Navigation from '../components/layout/Navigation.astro'
import NavigationClock from '../components/layout/NavigationClock'
import Sidebar from '../components/layout/SideBar'
import { Toaster } from '../components/ui/toaster'
import '../styles/globals.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <!-- Global Metadata -->

    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <link rel='icon' href='/favicon.svg' />
    <link rel='stylesheet' href='/styles/globals.css' />

    <SEO
      title='Kye Shimizu | Portfolio'
      description='A personal portfolio of Kye Shimizu'
      openGraph={{
        basic: {
          title: 'Kye Shimizu | Portfolio',
          type: 'A type.',
          image:
            'https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png',
        },
      }}
      twitter={{
        creator: '@kyeshimzu',
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: 'icon', href: '/favicon.ico' }],
        // extending the default meta tags
        meta: [
          {
            name: 'twitter:image',
            content:
              'https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png',
          },
          { name: 'twitter:title', content: 'Tinker Tailor Soldier Spy' },
          { name: 'twitter:description', content: 'Agent' },
        ],
      }}
    />

    <ViewTransitions />
  </head>

  <body>
    <Navigation>
      <NavigationClock client:load client:only='react' />
    </Navigation>
    <Sidebar transition:persist />

    <Toaster client:idle client:only='react' />

    <main class='py-6 w-15 mx-6 md:mx-28 my-0 pt-[72px] relative'>
      <slot />
    </main>

    <!-- <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme')
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'light'
        }
        return 'light'
      })()

      if (theme === 'light') {
        document.documentElement.classList.remove('dark')
      } else {
        document.documentElement.classList.add('dark')
      }
      window.localStorage.setItem('theme', theme)
    </script> -->
  </body>
</html>
